.search-box {
  -webkit-appearance: none;
  border: solid;
  outline: none;
  padding: 10px;
  line-height: 30px;
  margin-bottom: 30px;
  border-radius: 27px;
  width: 30%;
  height: 36px;
}
